*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: auto;
    height: 100vh;
    background-color: blanchedalmond;
    flex-wrap: wrap;
}
.marquee-container{
    display: flex;
    gap: 60vw;
}
header{
    width: 100vw;
    height: 60px;
    background-color: rgb(37, 31, 31);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
header-inner{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.marq2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: 20vh;
    height: 50vh;
    margin-left: 140px;
    margin-top: 50px;
    border-radius: 15px;
}

.text1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}

.marq4 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: 20vh;
    height: 50vh;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 15px;
    
}

.text3 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
    
}