html{
    scroll-behavior: smooth;
}
header{
    
        position: sticky;
        top: 0;
        z-index: 1000; /* Adjust as needed */
        background-color: #236d3f;
        padding: 10px 0; /* Adjust padding as needed */
    background-color: transparent;
}
nav{
  
    list-style: none;
     
        background-color: rgb(53, 53, 53);
         border-radius: 20px;
         
}
ul{
    display: flex;
    justify-content: space-around;
}